[user]
	email = AgustinBanchio@users.noreply.github.com
	name = Agustin Banchio
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEMZ7XY8eTReuuuLJm+zkvOFEhqSm1H+GuxGiRwyLwpl
[init]
  defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = nvim
